.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1/1;
  font-size: 2rem;
  text-transform: uppercase;
  padding: .5rem;
  cursor: pointer;
  color: #000;
}

.btn:hover:not(:disabled),
.btn:focus {
  background-color: hsl(200, 100%, 75%);
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: #fff;
}

.btn.inactive {
  opacity: .3;
}